<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My django basics</title>
</head>
<body>
    <div class="card max-auto" style="width: 18rem;">
        <img class="card-img-top" src="{{ Employee.photo.url }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Employer Details</h5>
          <p class="card-text">{{ Employee.first_name }} {{ Employee.last_name }}</p>
          <p class="card-text">{{ Employee.designation }}</p>
          <p class="card-text">{{ Employee.phone_number }}</p>
        </div>
        <div>
            <a class="btn btn-primary" href="{% url 'home' %}" role="button">Back to Home</a>
        </div>
      </div>
</body>
</html>
