<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My django basics</title>
</head>
<body>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Full name</th>
            <th scope="col">Designation</th>
            <th scope="col">Phone number</th>
          </tr>
        </thead>
        <tbody>
          {% for i in employees %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{% url 'employee_details' i.id %}">{{ i.first_name }} {{ i.last_name }}</a></td>
            <td>{{ i.designation }}</td>
            <td>{{ i.phone_number }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</body>
</html>
